@import "display.css";
@import "color.css";
@import "btn.css";
@import "transition.css";
@import "alertify.min.css";

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body div{
  box-sizing: border-box;
}

.alertify-notifier {
  color: #fff !important;
}
